[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask = "*"
flask-mysqldb = "*"
flask-mysql = "*"
sphinxcontrib-napoleon = "*"
face-recognition = "*"
dlib = "*"
imutils = "*"
numpy = "*"
passlib = "*"
marshmallow-sqlalchemy = "*"
sphinx = "*"
opencv-python = "*"

[requires]
python_version = "3.8"
