#opencv-python

alabaster
Babel
cachetools
certifi
chardet
click
cycler
dlib
dnspython
docutils
dominate
email-validator
face-recognition
face-recognition-models
Flask
Flask-Bootstrap
Flask-JWT-Extended
flask-marshmallow
Flask-MySQL
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
imagesize
imutils
itsdangerous
Jinja2
kiwisolver
MarkupSafe
marshmallow
marshmallow-sqlalchemy
matplotlib
mysqlclient
numpy
oauth2client
oauthlib
packaging
passlib
Pillow
pockets
protobuf
pyasn1
pyasn1-modules
Pygments
PyJWT
PyMySQL
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
uritemplate
urllib3
visitor
Werkzeug
WTForms
