{% extends 'admin/admin-base.html' %}
{% block title %}Booking{% endblock %}

{% block nav %}
    {% set active_page = "booking" %}
    {% include 'admin/admin-nav.html' %}
{% endblock %}

{% block content %}
    <table data-toggle="table"
           data-search="true">
        <thead>
        <tr>
            <th>Booking id</th>
            <th>Customer id</th>
            <th>Username</th>
            <th>Customer name</th>
            <th>Car id</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in booking_data %}
            <tr>
                <td>{{ booking.booking_id }} <a href="{{ url_for('.booking_detail', id=booking.booking_id) }}">Update</a> </td>
                <td>{{ booking.person_id }}</td>
                <td>{{ booking.person_username }}</td>
                <td>{{ booking.person_first_name }} {{ booking.person_last_name }}</td>
                <td>{{ booking.car_id }}</td>
                <td>{{ booking.booking_start_time }}</td>
                <td>{{ booking.booking_end_time }}</td>
                <td>{{ booking.booking_status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}