{% extends 'admin/admin-base.html' %}
{% block title %}Cars{% endblock %}

{% block nav %}
    {% set active_page = "car" %}
    {% include 'admin/admin-nav.html' %}
{% endblock %}

{% block content %}
    <table data-toggle="table"
           data-search="true">
        <thead>
        <tr>
            <th>Car id</th>
            <th>Registration number</th>
            <th>Manufacturer id</th>
            <th>Colour id</th>
            <th>Type id</th>
            <th>Seats</th>
            <th>Hour rate</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        </thead>
        <tbody>
        {% for car in car_data %}
            <tr>
                <td>{{ car.id }} <a href="{{ url_for('.car_detail', id=car.id) }}">Update</a> </td>
                <td>{{ car.reg_number }}</td>
                <td>{{ car.car_manufacturer }}</td>
                <td>{{ car.car_colour }}</td>
                <td>{{ car.car_type }}</td>
                <td>{{ car.seats }}</td>
                <td>{{ car.hour_rate }}</td>
                <td>{{ car.latitude }}</td>
                <td>{{ car.longitude }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}