{% extends 'base.html' %}
{% block title %}Persons{% endblock %}

{% block head %}
    {{ super() }} <!-- this is necessary to load the css (i think) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

{% endblock %}}

{% block content %}
    <form action="{{ url_for('.person_detail_new') }}" method="GET">
    <input type="submit" value="New person">
    </form>
    <table data-toggle="table"
           data-search="true">
        <thead>
        <tr>
            <th>Person id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        {% for person in person_data %}
            <tr>
                <td>{{ person.id }} <a href="{{ url_for('.person_detail', id=person.id) }}">Update</a> </td>
                <td>{{ person.username }}</td>
                <td>{{ person.first_name }} {{ person.last_name }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.type }}</td>
                <td>{{ person.password }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

{% endblock %}