<!DOCTYPE html>
<html>
    <head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0SdraTz1IKRkfy7m_Vr1QeZ-IgyYn6jM&callback=initMap"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
    rel="stylesheet" type="text/css" />
</head>
<script type="text/javascript">
$(function () {
    $("#btnShow").click(function () {
        $("#dialog").dialog({
            modal: true,
            title: "Google Maps",
            width: 900,
            height: 800,
            buttons: {
                Close: function () {
                    $(this).dialog('close');
                }
            },
            open: function () {
                var labels = '123456789';
            var labelIndex = 0;

            function initialize() {
                var car1 = { lat: -37.825330032, lng: 145.355998576 };
                var car2 = { lat: -37.987461, lng: 145.214859 };
                var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center:  new google.maps.LatLng(-37.8139992, 144.9633179)
                });

                // This event listener calls addMarker() when the map is clicked.
                google.maps.event.addListener(map, 'click', function(event) {
                addMarker(event.latLng, map);
                addMarker2(event.latLng, map);
                });

                // Add a marker at the center of the map.
                addMarker(car1, map);
                addMarker2(car2, map);
            }

            // Adds a marker to the map.
            function addMarker(location, map) {
                // Add the marker at the clicked location, and add the next-available label
                // from the array of alphabetical characters.
                var marker = new google.maps.Marker({
                position: location,
                label: labels[labelIndex++ % labels.length],
                map: map
                });
            }

            function addMarker2(location, map) {
                // Add the marker at the clicked location, and add the next-available label
                // from the array of alphabetical characters.
                var marker = new google.maps.Marker({
                position: location,
                label: labels[labelIndex++ % labels.length],
                map: map
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
                    }
            });
            });
        });
</script>
<input id = "btnShow" type="button" value="Show Maps"/>
<div id="dialog" style="display: none">
<div id="dvMap" style="height: 700px; width: 900px;">
</div>
</div>
</html>