html, body {
  background-color: black;
  color: white;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(5, 148, 214);
}

li {
  float: left;
  padding: 10px 0;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 20px;
}

li a:hover {
  background-color: rgb(8, 109, 204);
}

li a.active{

  background-color: rgb(0, 255, 13);
  color: rgb(0, 0, 0);
}

.sbutton{
  margin-top: 30px;
  float: right;
  margin-right: 16px;
  margin-bottom: 20px;
  display: block;
  background: rgb(3, 3, 3);
  padding: 5px 7px;
  border-radius: 5px;
  color: rgb(8, 135, 253);
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;

}